.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 8px;
}

.container label {
  font-size: 18px;
  font-weight: 600;
}

.container select {
  height: 80px;
  border-radius: 8px;
  border: none;
  padding: 16px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
  font-size: 18px;
}